:root {
    --darker-purple: #0E011B;
    --lighter-purple: #9c66f5;
    --light-gray: #aaaaaa;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.login-section {
    width: 100%;
    height: 100vh;
    background-image: url(../img/JPGs/main-bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0.3rem);
    border-bottom: 0.1rem solid white;
}

.title h1 {
    color: white;
    font-size: 5rem;
    font-weight: 100;
}

.main-container {
    width: 30rem;
    height: 33rem;
    border-radius: 2rem;
    border: 0.2rem solid white;
    backdrop-filter: blur(1rem);
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-container h1 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--darker-purple);
    padding-top: 6rem;
    padding-left: 3.5rem;
}

.main-container label {
    color: white;
    font-size: 0.8rem;
    padding-left: 3rem;
    padding-top: 2rem;
}

.display-cartao-gerado {
    width: 80%;
    height: 3.5rem;
    margin-left: 3rem;
    margin-top: 0.5rem;
    padding-left: 0.8rem;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    background-color: var(--light-gray); 
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    color: var(--darker-purple);
}

::placeholder {
    color: var(--white);
}

.gerar-button {
    width: 80%;
    height: 3.5rem;
    margin-left: 3rem;
    margin-top: 2rem;
    background-color: var(--darker-purple);
    border: none;
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.gerar-button:hover {
    background-color: var(--lighter-purple);
}

.main-container p {
    margin-left: 5rem;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: white;
}

.main-container p a {
    color: var(--lighter-purple);
    transition: all 150ms ease-in-out;
}

.main-container p a:hover {
    color: var(--darker-purple);
}

.close-element {
    width: 5rem;
    height: 5rem;
    border-radius: 0 1.6rem 0 1.6rem;
    border: 0.18rem solid white;
    background-color: var(--darker-purple);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.close-element:hover {
    background-color: var(--lighter-purple);
}

.close-icon {
    color: white;
    font-size: 2rem;
}