:root{
    --darker-purple: #0E011B;
    --white: #FFFFFF;
    --lighter-purple: #9c66f5;
    --light-gray: #aaaaaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 62.5%;
    font-family: 'Poppins';
}

.main-screen {
    width: 100%;
    height: 100vh;
    background-image: url(../img/JGPs/main-bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 7rem;
    backdrop-filter: blur(0.8rem);
    border-bottom: 0.1rem solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 4rem;
    color: var(--white);
    font-weight: 300;
}

.services-main-container {
    backdrop-filter: blur(3rem);
    margin-top: 2rem;
    width: 86rem;
    height: 35rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.15rem solid var(--white);
    position: relative;
}

.services-title {
    width: 30rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 0.1rem solid var(--white);
    margin-top: 1rem;
}

.services-title h1 {
    color: var(--darker-purple);
    font-size: 4rem;
}

.services-box {
    border: 0.1rem solid var(--white);
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 22rem;
    border-radius: 1.5rem;
    overflow-y: scroll;
}

.subtitle {
    margin-top: 0.5rem;
    border-bottom: 0.15rem solid var(--white);
    margin-bottom: 1rem;
}

.subtitle h3 {
    color: var(--white);
    font-size: 1.8rem;
}

.service-setup {
    /* background-color: orange; */
    width: 25rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.service-setup label{
    color: var(--white);
    font-size: 1.5rem;
}

.service-setup input {
    width: 4rem;
}

.qtd-box {
    background-color: transparent;
    border: 0.1rem solid var(--white);
    border-radius: 0.5rem;
    padding-left: 1.5rem;
    color: var(--white);
    width: 1.5rem;
    height: 1.5rem;
}

.send-order-button {
    background-color: var(--darker-purple);
    color: var(--white);
    border: none;
    width: 18rem;
    height: 3rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.8rem;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.send-order-button:hover {
    transform: scale(1.1);
    background-color: var(--lighter-purple);
}

.close-element {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    background-color: var(--darker-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1.8rem 0 1.8rem;
    border: 0.1rem solid var(--white);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.close-icon {
    color: var(--white);
    font-size: 2rem;
}

.close-element:hover {
    background-color: var(--lighter-purple);
}

.pop-up-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(72, 72, 72, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.lateral-ticket {
    height: 35rem;
    width: 18rem;
    background-color: var(--white); 
    border-top: 0.1rem solid var(--darker-purple);
    border-bottom: 0.1rem solid var(--darker-purple);
    border-left: 0.1rem solid var(--darker-purple);
    border-radius: 2rem;
    display: flex;
    position: relative;
}

.lateral-ticket span {
    font-size: 0.8rem;
    height: 2rem;
    width: 100%;
    font-weight: 600;
}

.ticket-code-1 {
    position: absolute;
    rotate: 90deg;
    top: 11rem;
    left: -7.4rem;
}

.ticket-code-2 {
    position: absolute;
    rotate: 90deg;
    top: 34rem;
    left: -7.4rem;
}

.codigo-de-barras {
    width: 10rem;
    height: 30.5rem;
    position: absolute;
    left: 3.8rem;
    top: 2.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fina {
    background-color: rgb(58, 58, 58);
    width: 10rem;
    height: 0.2rem;
}

.media {
    background-color: rgb(49, 48, 48);
    width: 10rem;
    height: 0.8rem;
}

.grossa {
    background-color: rgb(28, 27, 27);
    width: 10rem;
    height: 1.5rem;
}

.pop-up-recompensa {
    position: relative;
    height: 35rem;
    width: 70%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 62%, rgba(166,165,165,1) 100%);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    border-top: 0.1rem solid var(--darker-purple);
    border-bottom: 0.1rem solid var(--darker-purple);
    border-right: 0.1rem solid var(--darker-purple);
}

.titulo-recompensas {
    font-size: 3rem;
    color: var(--darker-purple);
    margin-top: 2rem;
    margin-left: 20rem;
}

.linha-titulo {
    width: 25rem;
    height: 0.2rem;
    background-color: var(--darker-purple);
    margin-top: 0.5rem;
    margin-left: 18.5rem;
}

.recompensas-container {
    height: 20rem;
    width: 30rem;
    margin-top: 3.5rem;
    margin-left: 5rem;
    border-radius: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}

.recompensas-container::-webkit-scrollbar {
    width: 0.1rem;
}

.recompensas-container::-webkit-scrollbar-track {
    background-color: var(--light-gray);
}

.recompensas-container::-webkit-scrollbar-thumb {
    background-color: rgb(143, 141, 141);
    border-radius: 1rem;
    border: 2rem solid black;
}

.botao-usar {
    width: 10rem;
    height: 3rem;
    background-color: var(--darker-purple);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.8rem;
    margin-top: 0.5rem;
    transition: all 150ms ease-in-out;
}

.botao-usar:hover {
    transform: scale(1.1);
    background-color: limegreen;
}

.decoration-image {
    position: absolute;
    width: 30rem;
    height: 30rem;
    right: 1rem;
    top: 5rem;
    transform: rotate3d(0, 1, 0, 180deg);
}

.image-itslef {
    width: 100%;
}

.close-element-pop-up {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 150ms ease-in-out;
}

.close-icon-pop-up {
    color: black;
    font-size: 2rem;
}

.close-element-pop-up:hover {
    background-color: var(--lighter-purple);
}

.teste {
    width: 100%;
    height: 2.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.teste span {
    font-size: 1.8rem;
    color: var(--white);
}

.teste input {
    width: 1.5rem;
    height: 1.5rem;
}

.fecha-pop-up {
    display: none;
}

.sem-pedidos {
    color: black;
    font-size: 2rem;
    margin-top: 8rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labels {
    color: black;
    font-size: 1.3rem;
}

.form-recompensa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-recompensa-button {
    background-color: var(--darker-purple);
    color: var(--white);
    border: none;
    width: 18rem;
    height: 3rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.8rem;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.send-recompensa-button:hover {
    transform: scale(1.1);
    background-color: var(--lighter-purple);
}

.pop-up-aviso-recompensa {
    width: 100%;
    height: 100vh;
    background-color: rgba(72, 72, 72, 0.493);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-aviso {
    width: 60%;
    height: 35rem;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 1rem 1rem 2rem rgb(168, 168, 168);
}

.imagem-aviso {
    width: 16rem;
    height: 16rem;
    background-image: url(../img/JGPs/moedas-de-ouro-caindo-da-pilha-de-dinheiro-na-mao-do-homem.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sombreamento {
    width: 7rem;
    height: 1rem;
    border-radius: 15rem;
    box-shadow: 2rem 2rem 2rem rgb(39, 38, 38);
    position: absolute;
    top: 14rem;
    left: 23.5rem;
}

.titulo-aviso {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: rgb(25, 183, 25);
}

.linha-titulo-aviso {
    width: 35rem;
    height: 0.1rem;
    background-color: rgb(25, 183, 25);
    font-weight: 400;
}

.titulo-recompensa-ganha {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

.fechar-aviso {
    width: 10rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    background-color: rgb(35, 149, 35);
    color: var(--white);
    transition: all 150ms ease-in-out;
}

.fechar-aviso:hover {
    transform: scale(1.1);
    background-color: limegreen;
}

.container-x {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    transition: all 150ms ease-in-out;
}

.container-x:hover {
    background-color: rgb(175, 174, 174);
}

.icone-x {
    font-size: 2rem;
}

.fecha-pop-up-aviso {
    display: none;
}



